{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
{% case section.settings.grid %}
  {% when 2 %}
    {%- assign column_width = 'col--md-up-1-2' -%}
  {% when 3 %}
    {%- assign column_width = 'col--md-up-1-3' -%}
  {% when 4 %}
    {%- assign column_width = 'col--md-up-1-4' -%}
  {% when 5 %}
    {%- assign column_width = 'col--md-up-1-5' -%}
{% endcase %}

{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<section class="container featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  <ul class="row">
    {% for product in collection.products limit: product_limit %}
      <li class="col {{ column_width }}">
        {%- include 'product-card' -%}
      </li>
    {% else %}
      {% for i in (1..6) %}
        <li class="col {{ column_width }}">
          <div class="product-card">
            <a href="#" class="product-card__link">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

              <p class="product-card__title">{{ 'homepage.onboarding.product_title' | t }}</p>
              <p class="product-card__price">{{ 1999 | money }}</p>
            </a>
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
